<a href="https://colab.research.google.com/github/BoYeonJang/ICT-AI-education/blob/main/(8%EC%9B%94%2010%EC%9D%BC)%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%84%20%ED%99%9C%EC%9A%A9%ED%95%9C%20%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EB%AA%A8%EB%8D%B8%20%EB%A7%8C%EB%93%A4%EA%B8%B0(2)/1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 외부파일 불러와 pandas 처리

In [1]:
import pandas as pd

In [2]:
# 데이터 준비
df = pd.read_csv('train.csv')

In [6]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
# 그룹 지정 및 그룹별 데이터 수 표시
# 팔린 연도를 중심으로 그룹을 만든 후 그룹별 수 표시

df.groupby(by='YrSold').size()

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
dtype: int64

In [9]:
# 그룹 지정 후 원하는 컬럼 표시
# 팔린 연도를 중심으로 그룹을 만든 후 각 그룹별 주차장의 넓이를 표시

df.groupby(by='YrSold')['LotArea'].mean()

YrSold
2006    10489.458599
2007    10863.686930
2008    10587.687500
2009    10294.248521
2010    10220.645714
Name: LotArea, dtype: float64

### 순위를 구하는 rank함수
- 평균(method='average') : 동점 관측치 간의 그룹 내 평균 순위 부여 (default 설정)
- 최소값(method='min') : 동점 관측치 그룹 내 최소 순위 부여
- 최대값(method='max') : 동점 관측치 그룹 내 최대 순위 부여
- 첫번째 값(method='first') : 동점 관측치 중에서 데이터 상에서 먼저 나타나는 관측치부터 순위 부여
- 조밀하게(method='dense') : 최소값('min')과 같은 방법으로 순위부여하나, 'min'과는 다르게 그룹 간 순위가 '1'씩 증가함

In [10]:
# 밀집도 기준으로 순위 부여
# 각 집 값은 밀집도를 기준으로 몇 번째인가?

df['SalePrice'].rank(method='dense')

0       413.0
1       340.0
2       443.0
3       195.0
4       495.0
        ...
1455    315.0
1456    416.0
1457    528.0
1458    200.0
1459    222.0
Name: SalePrice, Length: 1460, dtype: float64

In [11]:
# 집 값으로 순위 부여, 기준은 최소값

df['SalePrice'].rank(method='min')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     828.0
1456    1076.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

In [12]:
# 집 값으로 순위 부여, 기준은 최대값

df['SalePrice'].rank(method='max')

0       1072.0
1        909.0
2       1136.0
3        509.0
4       1243.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

In [15]:
# 집 값 순위가 같을 때 순서가 빠른 사람을 상위로 처리

df['SalePrice'].rank(method='first')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

- (pct=True): {True / False} 순위를 백분위수형식으로 할지 여부

In [13]:
# 집 값의 순위를 비율로 표시 (0 = 가장 싼 집, 1 = 비싼 집)

df['SalePrice'].rank(pct='True')

0       0.734247
1       0.622603
2       0.777740
3       0.342123
4       0.848973
          ...
1455    0.569863
1456    0.738356
1457    0.880137
1458    0.358904
1459    0.404795
Name: SalePrice, Length: 1460, dtype: float64